

body{
    margin : 0;
    padding : 0; 
    font-family: sans-serif;
    
}


.imagentitulo1{
    max-width: 100%;
    height: auto;

}

.text{
    text-align: center;
    margin: 0 150px 100px 1px;
    position: absolute;
    top: 50%;
    left: 30.5%;
    color: #fff;
    font-size:150px;
    box-shadow: 100px;

}

h5 {
    font: size 150px;
    color: #fff;
}


/* ------------------------------------------ */
/* ----------------  SECTION 1 -------------- */
/* ------------------------------------------ */


.conten-1 img{
    width: 500px;
    height: 710px;

}


.conten-1{
    margin: 0 58px 22px 6px;
}

.Degradate{
    font-size:500%;
    background:linear-gradient(90deg, rgba(255,111,0)0%,rgba(255) );
    background: linear-gradient(90deg, rgb(255, 115, 0) 0%, rgb(225, 0, 255) 100%);
    font-family: system-ui;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    
}

.Degradate01 {
    font-size: 500%;
    margin: -89px 58px 22px 6px;
}


.title{
    margin: 150px;
}
.title h1{
    margin: 5% 1% 5%;
}

.parff{
    margin: 3% 1.5% 5%;
}

.contenedor-1 .contenido{
    float: left;
    margin: left 10%;
    font-size: 10px;
}

.parff{
    font-size: 15px;
}

.submit{
    border: none;
    background: rgb(246, 96, 79);
    height: 35px;
    width: 25%;
    border-radius: 35px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin: 19px 15px 39px;
}




/* ------------------------------------------ */
/* ----------------  SECTION 2 -------------- */
/* ------------------------------------------ */


.conten-2 img{
    width: 500px;
    height: 710px;

}

.Degradate02 {
    font-size: 500%;
    margin: -46px 0% 5%;
}



.title2{
    margin: 150px;
}
.title2 h2{
    margin: 5% 1% 5%;
}


.contenedor-2 .contenido2{
    float: right;
    margin: right 10%;
    font-size: 10px;
}

.parff2{
    font-size: 15px;
    margin: 6% 1% 1%;

}

.submit2{
    border: none;
    background: rgb(246, 96, 79);
    height: 35px;
    width: 25%;
    border-radius: 35px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

/* ------------------------------------------ */
/* ----------------  SECTION 3 -------------- */
/* ------------------------------------------ */

.imagentitulo2{
    left: 50%;
    height: 100vh;
    width: 100%;
    
    
}

.TitlePrrafo3{
    position: absolute;
    font-size: 300%;
    color: #fff;
    margin-top: 5%;
    margin-left: 70%;
}



.TitlePrrafo003{
    position: absolute;
    font-size: 300%;
    color: #fff;
    margin-top: 8%;
    margin-left: 70%;
}

.parrograf{
    position: absolute;
    font-size: 75%;
    color: #fff;
    margin-top: 15%;
    margin-left: 70%;
}

.article{
    background-image: url(../images/john-raptis.png);
    background-size: cover;
    width: 100%;
    height: 80vh;
    
}

.submit3{
    border: none;
    background: rgb(219, 31, 141);
    height: 50px;
    width: 220px;
    border-radius: 35px;
    color: #fff;
    font-size: 15px;
    margin: 0 15px 86px;
    cursor: pointer;
}


.submit3:hover{
    background: rgb(219, 31, 141);

}


/* ------------------------------------------ */
/* ----------------  FOOTER  ---------------- */


footer{
    background: linear-gradient(0.29turn, #e62455e8, #e6244e, #f31041);
    width: 100%;
    height:600px;

}

.grid-container {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 50%;
    
}

hr {
    position: absolute;
    height: 1px;
    width: 80%;
    background-color: white;


}

.container--{
    margin-left: 15%;
}



.fotterText{
    margin-left: 15%;
    
}





/* ------------------------------------------ */
/* -----------  RESPONSIVE 1400px  ---------- */
/* ------------------------------------------ */

@media (max-width: 1400px) {

    .imagentitulo1{
        max-width: 100%;
        height: auto;
    
    }
    .text {
        margin: 15px 56px 10px 10px;
        position: absolute;
        top: 37%;
        left: 39.5%;
        color: #fff;
        font-size: 110px;
        box-shadow: 100px;
    }


    .title h1 {
        margin: 2% -7% 5%;
    }

    .Degradate{
        font-size:500%;
        background:linear-gradient(90deg, rgba(255,111,0)0%,rgba(255) );
        background: linear-gradient(90deg, rgb(255, 115, 0) 0%, rgb(225, 0, 255) 100%);
        font-family: system-ui;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3rem;
        
    }
    
    .Degradate01 {
        font-size: 50px;
        margin: -89px 58px 22px 6px;
    }

    .conten-1 img {
        width: 464px;
        height: 643px;
        margin: -5% 1%;
    }

    .submit {
        border: none;
        background: rgb(246, 96, 79);
        height: 35px;
        width: 25%;
        border-radius: 35px;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        margin: -44px 4px -47px;
    }
    .Degradate01 {
        font-size: 50px;
        margin: -87px 0 28px -34px;
    }

    .parff {
        font-size: 15px;
        margin: -10px 0 3px -31px;
    }




    .TitlePrrafo3 {
        position: absolute;
        font-size: 278%;
        color: #fff;
        margin-top: 4%;
        margin-left: 50%;
    }

    .TitlePrrafo003 {
        position: absolute;
        font-size: 278%;
        color: #fff;
        margin-top: 8%;
        margin-left: 50%;
    }




    .parrograf {
        position: absolute;
        font-size: 14px;
        color: #fff;
        margin-top: 18%;
        margin-left: 50%;
    }

}






/* ------------------------------------------ */
/* -----------  RESPONSIVE 1300px  ---------- */
/* ------------------------------------------ */




@media (max-width: 1300px) {

    .imagentitulo1{
        max-width: 100%;
        height: auto;
    
    }

    .text {
        margin: 15px -11px 12px -22px;
        position: absolute;
        top: 23%;
        left: 36.5%;
    }


    .conten-1 img {
        float:none;
        width: 482px;
        height: 643px;
        margin: -4% -12% 2%;
    }

    .conten-2 img{
        float:none;
        width: 482px;
        height: 643px;
        margin: 6% -7% 1%;
    }    


    .TitlePrrafo3 {
        position: absolute;
        font-size: 278%;
        color: #fff;
        margin-top: 3%;
        margin-left: 50%;
    }

    .TitlePrrafo003 {
        position: absolute;
        font-size: 278%;
        color: #fff;
        margin-top: 8%;
        margin-left: 50%;
    }

    .contenedor-2 .contenido2 {
        float: none;
        margin: right 10%;
        font-size: 10px;
    }

    .parrograf {
        position: absolute;
        font-size: 14px;
        color: #fff;
        margin-top: 18%;
        margin-left: 50%;
    }

    .submit {
        margin: -44px -29px 36px;
    }

}


/* ------------------------------------------ */
/* -----------  RESPONSIVE  800px  --------- */
/* ------------------------------------------ */



@media (max-width: 800px) {

    .imagentitulo1{
        max-width: 100%;
        height: auto;
    
    }
    .text{
        margin: 15px 56px 10px 10px;
        position: absolute;
        top: 22%;
        left: 41.5%;
        color: #fff;
        font-size: 50px;
        box-shadow: 100px;
    
    }

    .title h1 {
        margin: 2% -8% 5%;
    }

    .conten-1 img {
        width: 500px;
        height: 710px;
        margin: 7% -16% 1%;
    }

    
    .conten-2 img{
        width: 500px;
        height: 710px;
        margin: 6% -7% 1%;
    }    


    .TitlePrrafo3 {
        position: absolute;
        font-size: 40px;
        color: #fff;
        margin-top: 3%;
        margin-left: 50%;
    }

    .TitlePrrafo003 {
        position: absolute;
        font-size: 40px;
        color: #fff;
        margin-left: 50%;
    }

    .parrograf{
        position: absolute;
        font-size: 14px;
        color: #fff;
        margin-top: 15%;
        margin-left: 50%;
    }

}

